{% extends "core/base.html" %}

{% load static %}

{% block main_content %}
    <!-- Header -->
    <section id="intro">
      <header >
        <div class="container">
            <div class="row">
                <div class="col-lg-12">

                    <div class="intro-text">
                        <span class="name"></span>
                        <span class="intro-text skills">A plataforma do cidadão do novo milênio</span>
                    </div>
                </div>
            </div>
        </div>
    </header>
  </section>

  <!-- About Section -->
  <section id="about">
      <div class="container">
          <div class="row">
              <div class="col-lg-12 text-center">
                <h2 class="section-heading">
                    <span>Sobre</span>
                </h2>
                      <h3 class="section-subheading text-muted">Conheça o eMude</h3>
              </div>
          </div>

      </div>
  </section>

    <!-- Services Section -->
    <section id="services">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                  <h2 class="section_header">
                      <hr class="left visible-desktop">
                      <span>Serviços</span>
                      <hr class="right visible-desktop">
                  </h2>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary" style="color: #FED136"></i>
                        <i class="fa fa-shopping-cart fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">E-Commerce</h4>
                    <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima maxime quam architecto quo inventore harum ex magni, dicta impedit.</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary" style="color: #FED136"></i>
                        <i class="fa fa-laptop fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Responsive Design</h4>
                    <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima maxime quam architecto quo inventore harum ex magni, dicta impedit.</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary" style="color: #FED136"></i>
                        <i class="fa fa-lock fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Web Security</h4>
                    <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima maxime quam architecto quo inventore harum ex magni, dicta impedit.</p>
                </div>
            </div>
        </div>
    </section>


<!-- Team Section -->
    <section id="team">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                  <h2 class="section_header">
                      <hr class="left visible-desktop">
                      <span>Equipe</span>
                      <hr class="right visible-desktop">
                  </h2>
                  <h3 class="section-subheading text-muted">Conheça o nosso time</h3>
                </div>
              </div>

              <div class="row">
                  <div class="col-sm-3">
                      <div class="team-member">
                          <img src= {% static "core/img/team/1.jpg" %} class="img-responsive img-circle" alt="">
                          <h4>Vinícius Pantoja</h4>
                          <p class="text-muted">Função</p>
                          <ul class="list-inline">
                              <li>
                                  <a href="#" class="btn-social btn-outline-social"><i class="fa fa-fw fa-facebook"></i></a>
                              </li>
                              <li>
                                  <a href="#" class="btn-social btn-outline-social"><i class="fa fa-fw fa-google-plus"></i></a>
                              </li>
                              <li>
                                  <a href="#" class="btn-social btn-outline-social"><i class="fa fa-fw fa-twitter"></i></a>
                              </li>
                              <li>
                                  <a href="#" class="btn-social btn-outline-social"><i class="fa fa-fw fa-linkedin"></i></a>
                              </li>

                          </ul>
                      </div>
                  </div>
                  <div class="col-sm-3">
                      <div class="team-member">
                          <img src= {% static "core/img/team/2.jpg" %} class="img-responsive img-circle" alt="">
                          <h4>Higor Biana</h4>
                          <p class="text-muted">Função</p>
                          <ul class="list-inline">
                              <li>
                                  <a href="#" class="btn-social btn-outline-social"><i class="fa fa-fw fa-facebook"></i></a>
                              </li>
                              <li>
                                  <a href="#" class="btn-social btn-outline-social"><i class="fa fa-fw fa-google-plus"></i></a>
                              </li>
                              <li>
                                  <a href="#" class="btn-social btn-outline-social"><i class="fa fa-fw fa-twitter"></i></a>
                              </li>
                              <li>
                                  <a href="#" class="btn-social btn-outline-social"><i class="fa fa-fw fa-linkedin"></i></a>
                              </li>

                          </ul>
                      </div>
                  </div>
                  <div class="col-sm-3">
                      <div class="team-member">
                          <img src= {% static "core/img/team/3.jpg" %} class="img-responsive img-circle" alt="">
                          <h4>Hallison Paz</h4>
                          <p class="text-muted">Função</p>
                          <ul class="list-inline">
                              <li>
                                  <a href="#" class="btn-social btn-outline-social"><i class="fa fa-fw fa-facebook"></i></a>
                              </li>
                              <li>
                                  <a href="#" class="btn-social btn-outline-social"><i class="fa fa-fw fa-google-plus"></i></a>
                              </li>
                              <li>
                                  <a href="#" class="btn-social btn-outline-social"><i class="fa fa-fw fa-twitter"></i></a>
                              </li>
                              <li>
                                  <a href="#" class="btn-social btn-outline-social"><i class="fa fa-fw fa-linkedin"></i></a>
                              </li>

                          </ul>
                      </div>
                  </div>
                  <div class="col-sm-3">
                      <div class="team-member">
                          <img src= {% static "core/img/team/4.jpg" %} class="img-responsive img-circle" alt="">
                          <h4>Kizzy Terra</h4>
                          <p class="text-muted">Função</p>
                          <ul class="list-inline">
                              <li>
                                  <a href="#" class="btn-social btn-outline-social"><i class="fa fa-fw fa-facebook"></i></a>
                              </li>
                              <li>
                                  <a href="#" class="btn-social btn-outline-social"><i class="fa fa-fw fa-google-plus"></i></a>
                              </li>
                              <li>
                                  <a href="#" class="btn-social btn-outline-social"><i class="fa fa-fw fa-twitter"></i></a>
                              </li>
                              <li>
                                  <a href="#" class="btn-social btn-outline-social"><i class="fa fa-fw fa-linkedin"></i></a>
                              </li>

                          </ul>
                      </div>
                  </div>

                  <div class="col-sm-3">
                      <div class="team-member">
                          <img src= {% static "core/img/team/5.jpg" %} class="img-responsive img-circle" alt="">
                          <h4>Vitor Coff Del Rey</h4>
                          <p class="text-muted">Função</p>
                          <ul class="list-inline">
                              <li>
                                  <a href="#" class="btn-social btn-outline-social"><i class="fa fa-fw fa-facebook"></i></a>
                              </li>
                              <li>
                                  <a href="#" class="btn-social btn-outline-social"><i class="fa fa-fw fa-google-plus"></i></a>
                              </li>
                              <li>
                                  <a href="#" class="btn-social btn-outline-social"><i class="fa fa-fw fa-twitter"></i></a>
                              </li>
                              <li>
                                  <a href="#" class="btn-social btn-outline-social"><i class="fa fa-fw fa-linkedin"></i></a>
                              </li>

                          </ul>
                      </div>
                  </div>
                  <div class="col-sm-3">
                      <div class="team-member">
                          <img src= {% static "core/img/team/6.jpg" %} class="img-responsive img-circle" alt="">
                          <h4>Anja Eickelberg</h4>
                          <p class="text-muted">Função</p>
                          <ul class="list-inline">
                              <li>
                                  <a href="#" class="btn-social btn-outline-social"><i class="fa fa-fw fa-facebook"></i></a>
                              </li>
                              <li>
                                  <a href="#" class="btn-social btn-outline-social"><i class="fa fa-fw fa-google-plus"></i></a>
                              </li>
                              <li>
                                  <a href="#" class="btn-social btn-outline-social"><i class="fa fa-fw fa-twitter"></i></a>
                              </li>
                              <li>
                                  <a href="#" class="btn-social btn-outline-social"><i class="fa fa-fw fa-linkedin"></i></a>
                              </li>

                          </ul>
                      </div>
                  </div>
                  <div class="col-sm-3">
                      <div class="team-member">
                          <img src= {% static "core/img/team/7.jpg" %} class="img-responsive img-circle" alt="">
                          <h4>Gabriel Aleixo</h4>
                          <p class="text-muted">Função</p>
                          <ul class="list-inline">
                              <li>
                                  <a href="#" class="btn-social btn-outline-social"><i class="fa fa-fw fa-facebook"></i></a>
                              </li>
                              <li>
                                  <a href="#" class="btn-social btn-outline-social"><i class="fa fa-fw fa-google-plus"></i></a>
                              </li>
                              <li>
                                  <a href="#" class="btn-social btn-outline-social"><i class="fa fa-fw fa-twitter"></i></a>
                              </li>
                              <li>
                                  <a href="#" class="btn-social btn-outline-social"><i class="fa fa-fw fa-linkedin"></i></a>
                              </li>

                          </ul>
                      </div>
                  </div>
              </div>


            </div>
      </section>

      <!-- Contact Section -->
      <section id="contact">
          <div class="container">
              <div class="row">
                  <div class="col-lg-12 text-center">
                    <h2 class="section_header">
                        <hr class="left visible-desktop">
                        <span>Contato</span>
                        <hr class="right visible-desktop">
                    </h2>
                  </div>
              </div>

          </div>
      </section>
{% endblock %}
