<!DOCTYPE html>

{% load static %}

<html lang="pt-BR">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>eMude</title>

    <!-- Bootstrap Core CSS - Uses Bootswatch Flatly Theme: http://bootswatch.com/flatly/ -->
    <link href= {% static "core/css/bootstrap.css" %} rel="stylesheet">

    <!-- Custom CSS -->
    <link href= {% static "core/css/freelancer.css" %} rel="stylesheet">

    <!-- Custom Fonts -->
    <link href= {% static "font-awesome/css/font-awesome.min.css" %} rel="stylesheet" type="text/css">
    <link href= "http://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href= 'https://fonts.googleapis.com/css?family=Poiret+One' rel='stylesheet' type='text/css'>
    <link href= "http://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css">
      <link href= "https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic" rel='stylesheet' type='text/css'>
    <link href= "https://fonts.googleapis.com/css?family=Maven+Pro" rel='stylesheet' type='text/css'>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body id="page-top" class="index" >

    <!-- Navigation -->
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#page-top"><img class="logo" src=  {% static "core/img/logo_emude.png" %}></a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li class="hidden">
                        <a href="#page-top"></a>
                    </li>
                    <li class="page-scroll">
                        <a href="#about">Sobre</a>
                    </li>
                    <li class="page-scroll">
                        <a href="#services">Serviços</a>
                    </li>
                    <li class="page-scroll">
                        <a href="#team">Equipe</a>
                    </li>
                    <li class="page-scroll">
                        <a href="#contact">Contato</a>
                    </li>

                    <li class="page-scroll">
                        <a href="login.html" class="btn btn-lg btn-login btn-block navbar-btn">Entrar</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>

    <!-- Header -->
    <section id="intro">
      <header >
        <div class="container">
            <div class="row">
                <div class="col-lg-12">

                    <div class="intro-text">
                        <span class="name"></span>
                        <span class="intro-text skills">A plataforma do cidadão do novo milênio</span>
                    </div>
                </div>
            </div>
        </div>
    </header>
  </section>

  <!-- About Section -->
  <section id="about">
      <div class="container">
          <div class="row">
              <div class="col-lg-12 text-center">
                <h2 class="section-heading">
                    <span>Sobre</span>
                </h2>
                      <h3 class="section-subheading text-muted">Conheça o eMude</h3>
              </div>
          </div>

      </div>
  </section>

    <!-- Services Section -->
    <section id="services">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                  <h2 class="section_header">
                      <hr class="left visible-desktop">
                      <span>Serviços</span>
                      <hr class="right visible-desktop">
                  </h2>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary" style="color: #FED136"></i>
                        <i class="fa fa-shopping-cart fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">E-Commerce</h4>
                    <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima maxime quam architecto quo inventore harum ex magni, dicta impedit.</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary" style="color: #FED136"></i>
                        <i class="fa fa-laptop fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Responsive Design</h4>
                    <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima maxime quam architecto quo inventore harum ex magni, dicta impedit.</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary" style="color: #FED136"></i>
                        <i class="fa fa-lock fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Web Security</h4>
                    <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima maxime quam architecto quo inventore harum ex magni, dicta impedit.</p>
                </div>
            </div>
        </div>
    </section>




<!-- Team Section -->
    <section id="team">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                  <h2 class="section_header">
                      <hr class="left visible-desktop">
                      <span>Equipe</span>
                      <hr class="right visible-desktop">
                  </h2>
                  <h3 class="section-subheading text-muted">Conheça o nosso time</h3>
                </div>
              </div>

              <div class="row">
                  <div class="col-sm-3">
                      <div class="team-member">
                          <img src= {% static "core/img/team/1.jpg" %} class="img-responsive img-circle" alt="">
                          <h4>Vinícius Pantoja</h4>
                          <p class="text-muted">Função</p>
                          <ul class="list-inline">
                              <li>
                                  <a href="#" class="btn-social btn-outline-social"><i class="fa fa-fw fa-facebook"></i></a>
                              </li>
                              <li>
                                  <a href="#" class="btn-social btn-outline-social"><i class="fa fa-fw fa-google-plus"></i></a>
                              </li>
                              <li>
                                  <a href="#" class="btn-social btn-outline-social"><i class="fa fa-fw fa-twitter"></i></a>
                              </li>
                              <li>
                                  <a href="#" class="btn-social btn-outline-social"><i class="fa fa-fw fa-linkedin"></i></a>
                              </li>

                          </ul>
                      </div>
                  </div>
                  <div class="col-sm-3">
                      <div class="team-member">
                          <img src= {% static "core/img/team/2.jpg" %} class="img-responsive img-circle" alt="">
                          <h4>Higor Biana</h4>
                          <p class="text-muted">Função</p>
                          <ul class="list-inline">
                              <li>
                                  <a href="#" class="btn-social btn-outline-social"><i class="fa fa-fw fa-facebook"></i></a>
                              </li>
                              <li>
                                  <a href="#" class="btn-social btn-outline-social"><i class="fa fa-fw fa-google-plus"></i></a>
                              </li>
                              <li>
                                  <a href="#" class="btn-social btn-outline-social"><i class="fa fa-fw fa-twitter"></i></a>
                              </li>
                              <li>
                                  <a href="#" class="btn-social btn-outline-social"><i class="fa fa-fw fa-linkedin"></i></a>
                              </li>

                          </ul>
                      </div>
                  </div>
                  <div class="col-sm-3">
                      <div class="team-member">
                          <img src= {% static "core/img/team/3.jpg" %} class="img-responsive img-circle" alt="">
                          <h4>Hallison Paz</h4>
                          <p class="text-muted">Função</p>
                          <ul class="list-inline">
                              <li>
                                  <a href="#" class="btn-social btn-outline-social"><i class="fa fa-fw fa-facebook"></i></a>
                              </li>
                              <li>
                                  <a href="#" class="btn-social btn-outline-social"><i class="fa fa-fw fa-google-plus"></i></a>
                              </li>
                              <li>
                                  <a href="#" class="btn-social btn-outline-social"><i class="fa fa-fw fa-twitter"></i></a>
                              </li>
                              <li>
                                  <a href="#" class="btn-social btn-outline-social"><i class="fa fa-fw fa-linkedin"></i></a>
                              </li>

                          </ul>
                      </div>
                  </div>
                  <div class="col-sm-3">
                      <div class="team-member">
                          <img src= {% static "core/img/team/4.jpg" %} class="img-responsive img-circle" alt="">
                          <h4>Kizzy Terra</h4>
                          <p class="text-muted">Função</p>
                          <ul class="list-inline">
                              <li>
                                  <a href="#" class="btn-social btn-outline-social"><i class="fa fa-fw fa-facebook"></i></a>
                              </li>
                              <li>
                                  <a href="#" class="btn-social btn-outline-social"><i class="fa fa-fw fa-google-plus"></i></a>
                              </li>
                              <li>
                                  <a href="#" class="btn-social btn-outline-social"><i class="fa fa-fw fa-twitter"></i></a>
                              </li>
                              <li>
                                  <a href="#" class="btn-social btn-outline-social"><i class="fa fa-fw fa-linkedin"></i></a>
                              </li>

                          </ul>
                      </div>
                  </div>

                  <div class="col-sm-3">
                      <div class="team-member">
                          <img src= {% static "core/img/team/5.jpg" %} class="img-responsive img-circle" alt="">
                          <h4>Vitor Coff Del Rey</h4>
                          <p class="text-muted">Função</p>
                          <ul class="list-inline">
                              <li>
                                  <a href="#" class="btn-social btn-outline-social"><i class="fa fa-fw fa-facebook"></i></a>
                              </li>
                              <li>
                                  <a href="#" class="btn-social btn-outline-social"><i class="fa fa-fw fa-google-plus"></i></a>
                              </li>
                              <li>
                                  <a href="#" class="btn-social btn-outline-social"><i class="fa fa-fw fa-twitter"></i></a>
                              </li>
                              <li>
                                  <a href="#" class="btn-social btn-outline-social"><i class="fa fa-fw fa-linkedin"></i></a>
                              </li>

                          </ul>
                      </div>
                  </div>
                  <div class="col-sm-3">
                      <div class="team-member">
                          <img src= {% static "core/img/team/6.jpg" %} class="img-responsive img-circle" alt="">
                          <h4>Anja Eickelberg</h4>
                          <p class="text-muted">Função</p>
                          <ul class="list-inline">
                              <li>
                                  <a href="#" class="btn-social btn-outline-social"><i class="fa fa-fw fa-facebook"></i></a>
                              </li>
                              <li>
                                  <a href="#" class="btn-social btn-outline-social"><i class="fa fa-fw fa-google-plus"></i></a>
                              </li>
                              <li>
                                  <a href="#" class="btn-social btn-outline-social"><i class="fa fa-fw fa-twitter"></i></a>
                              </li>
                              <li>
                                  <a href="#" class="btn-social btn-outline-social"><i class="fa fa-fw fa-linkedin"></i></a>
                              </li>

                          </ul>
                      </div>
                  </div>
                  <div class="col-sm-3">
                      <div class="team-member">
                          <img src= {% static "core/img/team/7.jpg" %} class="img-responsive img-circle" alt="">
                          <h4>Gabriel Aleixo</h4>
                          <p class="text-muted">Função</p>
                          <ul class="list-inline">
                              <li>
                                  <a href="#" class="btn-social btn-outline-social"><i class="fa fa-fw fa-facebook"></i></a>
                              </li>
                              <li>
                                  <a href="#" class="btn-social btn-outline-social"><i class="fa fa-fw fa-google-plus"></i></a>
                              </li>
                              <li>
                                  <a href="#" class="btn-social btn-outline-social"><i class="fa fa-fw fa-twitter"></i></a>
                              </li>
                              <li>
                                  <a href="#" class="btn-social btn-outline-social"><i class="fa fa-fw fa-linkedin"></i></a>
                              </li>

                          </ul>
                      </div>
                  </div>
              </div>


            </div>
      </section>

      <!-- Contact Section -->
      <section id="contact">
          <div class="container">
              <div class="row">
                  <div class="col-lg-12 text-center">
                    <h2 class="section_header">
                        <hr class="left visible-desktop">
                        <span>Contato</span>
                        <hr class="right visible-desktop">
                    </h2>
                  </div>
              </div>

          </div>
      </section>
    <!-- Footer -->
    <footer class="text-center">
        <div class="footer-above">
            <div class="container">
                <div class="row">
                    <div class="footer-col col-md-12 text-center">
                        <h3>Visite nossas redes sociais</h3>
                        <ul class="list-inline">
                            <li>
                                <a href="#" class="btn-social btn-outline"><i class="fa fa-fw fa-facebook"></i></a>
                            </li>
                            <li>
                                <a href="#" class="btn-social  btn-outline"><i class="fa fa-fw fa-google-plus"></i></a>
                            </li>
                            <li>
                                <a href="#" class="btn-social btn-outline"><i class="fa fa-fw fa-twitter"></i></a>
                            </li>
                            <li>
                                <a href="#" class="btn-social btn-outline"><i class="fa fa-fw fa-linkedin"></i></a>
                            </li>

                        </ul>
                    </div>

                </div>
            </div>
        </div>
        <div class="footer-below">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        Copyright &copy; eMude 2015
                    </div>
                </div>
            </div>
        </div>
    </footer>

    <!-- Scroll to Top Button (Only visible on small and extra-small screen sizes) -->
    <div class="scroll-top page-scroll visible-xs visible-sm">
        <a class="btn btn-primary" href="#page-top">
            <i class="fa fa-chevron-up"></i>
        </a>
    </div>



    <!-- jQuery -->
    <script src= {% static "core/js/jquery.js" %} ></script>

    <!-- Bootstrap Core JavaScript -->
    <script src= {% static "core/js/bootstrap.min.js" %} ></script>

    <!-- Plugin JavaScript -->
    <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>
    <script src= {% static "core/js/classie.js" %}></script>
    <script src= {% static "core/js/cbpAnimatedHeader.js" %}></script>

    <!-- Contact Form JavaScript -->
    <script src= {% static "core/js/jqBootstrapValidation.js" %}></script>
    <script src= {% static "core/js/contact_me.js" %} ></script>

    <!-- Custom Theme JavaScript -->
    <script src= {% static "core/js/freelancer.js" %}></script>

</body>

</html>
