{% extends "core/base.html" %}

{% load static %}

{% block main_content %}
    <!-- Header -->
    <section id="intro">
      <header >
        <div class="container">
            <div class="row">
                <div class="col-lg-12">

                    <div class="intro-text">
                        <span class="name"></span>
                        <span class="intro-text skills">Em breve! A plataforma do cidadão do novo milênio!</span>
                    </div>
                </div>
            </div>
        </div>
    </header>
  </section>

  <!-- About Section -->
  <section id="about">
      <div class="container">
          <div class="row">
              <div class="col-lg-12 text-center">
                <h2 class="section-heading">
                    <span>Sobre</span>
                </h2>
                      <h3 class="section-subheading text-muted">Conheça o eMude</h3>
                      <h4 class="section-subheading">Somos uma ferramenta social colaborativa, onde você poderá avaliar os principais serviços públicos! </h4>


                      <div class="row text-center">
                          <div class="col-md-offset-4 col-md-6 col-sm-offset-4 col-sm-6 col-xs-offset-3 col-xs-9">

                              <img class="img-responsive" style="margin-top:30px" src=  {% static "core/img/screens/screen1.png" %}>

                          </div>

                  </div>

              </div>
          </div>

      </div>
  </section>




<!-- Team Section -->
    <section id="team">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 col-md-12 text-center">
                  <h2 class="section_header">
                      <hr class="left visible-desktop">
                      <span>Equipe</span>
                      <hr class="right visible-desktop">
                  </h2>
                  <h3 class="section-subheading text-muted">Conheça o nosso time</h3>
                </div>
              </div>

              <div class="row text-center">
                  <div class="col-md-6 col-sm-6 col-lg-3">
                      <div class="team-member">
                          <img src= {% static "core/img/team/1.png" %} class="img-responsive img-circle" alt="">
                          <h4>Vinícius Pantoja</h4>
                          <p class="text-muted">Presidente</p>

                      </div>
                  </div>
                  <div class="col-md-6 col-sm-6 col-lg-3">
                      <div class="team-member">
                          <img src= {% static "core/img/team/2.jpg" %} class="img-responsive img-circle" alt="">
                          <h4>Higor Biana</h4>
                          <p class="text-muted">Advogado e Diretor Jurídico</p>

                      </div>
                  </div>
                  <div class="col-md-6 col-sm-6 col-lg-3">
                      <div class="team-member">
                          <img src= {% static "core/img/team/3.jpg" %} class="img-responsive img-circle" alt="">
                          <h4>Hallison Paz</h4>
                          <p class="text-muted">Engenheiro de Software</p>

                      </div>
                  </div>
                  <div class="col-md-6 col-sm-6 col-lg-3">
                      <div class="team-member">
                          <img src= {% static "core/img/team/4.jpg" %} class="img-responsive img-circle" alt="">
                          <h4>Kizzy Terra</h4>
                          <p class="text-muted">Engenheira de Software</p>

                      </div>
                  </div>

                  <div class="col-md-6 col-sm-6 col-lg-3">
                      <div class="team-member">
                          <img src= {% static "core/img/team/5.jpg" %} class="img-responsive img-circle" alt="">
                          <h4>Vitor Coff Del Rey</h4>
                          <p class="text-muted">Gerente de Relacionamentos</p>

                      </div>
                  </div>
                  <div class="col-md-6 col-sm-6 col-lg-3">
                      <div class="team-member">
                          <img src= {% static "core/img/team/6.png" %} class="img-responsive img-circle" alt="">
                          <h4>Anja Eickelberg</h4>
                          <p class="text-muted">Diretora de Inovação Urbana</p>

                      </div>
                  </div>
                  <div class="col-md-6 col-sm-6 col-lg-3">
                      <div class="team-member">
                          <img src= {% static "core/img/team/7.jpg" %} class="img-responsive img-circle" alt="">
                          <h4>Gabriel Aleixo</h4>
                          <p class="text-muted">Desenvolvedor de Negócios</p>

                      </div>
                  </div>
              </div>


            </div>
      </section>


{% endblock %}
